/* Establecer el fondo con un degradado de verde militar a negro */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #4B5320, #000000); /* Verde militar a negro */
  font-family: Arial, sans-serif;
  color: white;
}

/* Estilo para los botones en verde fluor */
button {
  background-color: #00FF00;  /* Verde fluor */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: black;  /* Color del texto del botón */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #00CC00;  /* Verde fluor un poco más oscuro al pasar el cursor */
  transform: scale(1.05); /* Efecto de agrandamiento al hacer hover */
}

button:focus {
  outline: none; /* Eliminar borde de enfoque */
}

button:active {
  background-color: #009900;  /* Verde más oscuro al hacer clic */
}
